@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
	--hushBlack: #000;
	--hushWhite: #f5f5f5;
	--hushDarkGreen: #3f4d40;
	--hushDarkerGreen: #22362a;
	--hushButtonColor: #404d4d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

body {
	background-color: var(--hushWhite);
	overflow-x: hidden;
}

header {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--hushWhite);
	line-height: 60px;
	transition: background-color 0.3s ease;
	z-index: 1000;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1rem;
}

header.scrolled {
	background-color: #000;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.logo {
	padding: 0 2rem 0 0;
}

.logo h1 {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: normal;
	color: var(--hushWhite);
	margin: 0;
}

nav {
	display: flex;
	align-items: center;
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-list a {
	color: var(--hushWhite);
	font-weight: bold;
	font-size: 16px;
	margin-right: 20px;
	position: relative;
}

.nav-list a:hover {
	color: var(--hushDarkGreen);
}

.dropdown-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #000;
	top: 100%;
	right: 3vw;
	min-width: 150px;
	z-index: 1000;
	border-radius: 10px;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
	/* Vloeiende overgang */
}

.dropdownBtn:hover+.dropdown-content,
.dropdown-content:hover {
	opacity: 1;
	max-height: 500px;
}


.dropdown-content a {
	flex: 1;
	padding: 0 10px;
	font-size: 14px;
}

.menu-icon {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.menu-icon span {
	display: block;
	width: 30px;
	height: 3px;
	background-color: var(--hushWhite);
	margin: 4px 0;
	border-radius: 10px;
}

@media only screen and (max-width: 1010px) {
	.nav-list {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: #000;
		width: 100%;
		text-align: right;
	}

	.nav-list.active {
		display: flex;
	}

	.menu-icon {
		display: flex;
	}

	.menu-icon.active span {
		background-color: var(--hushWhite);
	}
}

#hero {
	position: relative;
	height: 100vh;
	background: url('img/Hush Bed & Breakfast.png') no-repeat center center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	/* Pas de opaciteit aan voor het gewenste effect */
	z-index: 1;
}

#hero * {
	position: relative;
	z-index: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#hero .content h2 {
	font-family: Montserrat;
	letter-spacing: 0.25em;
	direction: rtl;
	color: var(--hushWhite);
	font-size: 3.2rem;
	text-align: center;
	max-width: fit-content;
	margin: auto;
	font-weight: 500;
	transform: translateX(6px);
}

#hero .content p {
	color: var(--hushWhite);
	margin: 10px auto;
	max-width: fit-content;
}

.BBText {
	font-size: 20px;
}

.sloganText {
	font-size: small;
}

#hero .content a {
	padding: 10px 20px;
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid var(--hushWhite);
	color: var(--hushWhite);
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
	word-spacing: 2px;
	position: absolute;
}

#hero .content a:hover {
	color: var(--hushBlack);
	background-color: rgba(255, 255, 255, 0.4);
	border: 3px solid var(--hushBlack);
	box-shadow: none;
}

#content-section {
	text-align: center;
}

.alignImgAndText img {
	width: 50vw;
	height: 47vh;
}

[alt="hottub&sauna.png"] {
	float: inline-start;
}

.alignImgAndText {
	display: -webkit-box;
	max-width: -webkit-fill-available;
}

.flexItems {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	margin: auto;
	justify-content: center;
	max-width: fit-content;
}

.alignImgAndText h2 {
	max-width: fit-content;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 10px;
	min-width: 20vw;
	text-align: left;
}

.rtl {
	display: flex;
	flex-direction: row-reverse;
}

.alignImgAndText p {
	max-width: 20vw;
	text-align: left;
	line-height: 20px;
}

.horizontalLine {
	border-bottom: 2px solid var(--hushBlack);
	outline: none;
	width: 60px;
	margin-bottom: 2rem;
}

.enjoyBreakfast {
	background-color: var(--hushBlack);
	color: var(--hushWhite);
	padding: 5%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.enjoyBreakfast h3 {
	font-weight: 300;
	max-width: fit-content;
	margin-bottom: 1rem;
}

.enjoyBreakfast .horizontalLine {
	border-bottom: 2px solid var(--hushWhite);
}

.enjoyBreakfast p {
	text-align: left;
}

.flexSection {
	max-width: 35vw;
	margin: auto;
}

.alignHorizontalLine {
	max-width: fit-content;
	display: flex;
	flex-direction: column;
}

.ourRooms {
	padding: 5%;
}

.kamerButton {
	text-decoration: none;
	font-style: italic;
	margin-bottom: 2rem;
	padding: 1%;
	border-radius: 3px;
	margin-top: 2rem;
	border: 2px solid var(--hushBlack);
	max-width: fit-content;
	min-width: 15vw;
	min-height: 25vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
}

.kamerButton:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* Zorgt ervoor dat het filter onzichtbaar is wanneer er geen hover is */
	transition: opacity 0.3s ease;
	/* Voeg een overgang toe voor een soepel effect */
	z-index: 1;
	/* Zorg ervoor dat het filter zich onder de tekst bevindt */
	background-color: var(--hushWhite);
}

.kamerButton:hover:before {
	opacity: 0.8;
}

.kamerButton:hover .buttonText {
	background-color: #f5f5f600;
	opacity: 0.8;
	color: var(--hushBlack);
	font-weight: 600;
}

.buttonText {
	background-color: #3f4d40;
	color: var(--hushWhite);
	padding: 2%;
	border-radius: 2px;
	z-index: 2;
}

.apartmentButton {
	background-image: url(img/Apartment.png);
}

.cottageButton {
	background-image: url(img/Cottage.png);
}

.roomButton {
	background-image: url(img/Room.png);
}

.poolhouse1Button {
	background-image: url(img/Poolhouse1.png);
}

.poolhouse2Button {
	background-image: url(img/Poolhouse2.png);
}

.roomButtonGrid {
    display: flex;
    justify-content: space-between;
	margin-top: 5rem;
}